* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.hero {
    width: 100%;
    min-height: 100vh;
    background-color: #f4bfbf;
    font-weight: bold;
    display: flex;
}

.container {
    background-color: #ffd9c0;
    align-self: center;
    justify-self: center;
    margin: auto;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 400px;
}

.randomNum {
    background-color: #faf0d7;
    padding: 1rem;
    min-width: 100%;
}

.randomNum p span {
    color: #ff0000;
}

.numContainer {
    display: flex;
    justify-content: space-between;
    padding: 4rem 0;
    min-width: 100%;
}

.hero .container div {
    width: 100%;
    max-width: 42%;
    overflow: hidden;
}

.hero .numContainer div input {
    padding: 8px;
    border: none;
    color: #ff0000;
    font-weight: bold;
    outline: none;
    width: 100%;
    background-color: #faf0d7;
}

.hero .container button {
    border: none;
    outline: none;
    background-color: #faf0d7;
    padding: 1rem;
    font-weight: bold;
    width: 100%;
    font-size: 22px;
    cursor: pointer;
    transition: .3s;
    align-items: flex-end;
}

.hero .container button:hover{
    background-color: black;
    color: #FAF0D7;
}